@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #1A5D1A;
  --oscure-green: #546E51;
  --white: #DDF2FD;
  --background-page: rgba(231, 234, 241, 1);
  --nav-color: #87B77B;
  --boxshadow:1px 4px 14px 0px rgba(0, 0, 0, 0.25);
  --oscure-grey: rgba(200, 207, 217, 1);
  --light-grey: rgba(242, 245, 247, 1);
  --orange: rgba(253, 161, 1, 1);
}

/*COLORES DE TEXTO*/
.color-green {
  color: var(--green);
}
.color-white {
  color: var(--white);
}
.color-oscure-green {
  color: var(--oscure-green);
}

/*LOGIN CONTENT*/
/*Login button*/
.bg-button-login {
  background-color: var(--green);
}


/*background colors */
.nav-color-bg {
  background-color: var(--nav-color);
  /*height: 95px;*/
}
.manage-bg-color {
  background-color: var(--background-page);
}

.border-color{
  border-color: var(--nav-color);
}

/*profile*/
.bg-button-profile{
  color: var(--background-page);
}

/*container*/
.bg-container{
  background-color: var(--oscure-grey);
}

.bg-input{
  background-color: var(--light-grey);
}

/*background button listado*/
.bg-button-list{
  background-color: var(--orange);
}